<h3>
  Create Product
</h3>

<div>
  <h4 class="error">{{message}}</h4>
  <form (ngSubmit)="createProduct(productForm)" #productForm="ngForm">
    <div ngModelGroup="product">
      <div>
          <input type="text"
                 ngModel
                 #productName="ngModel"
                 name="name"
                 placeholder="Product Name"
                 required/>
      </div>
      <div class="error" *ngIf="(productName.dirty  || message) && productName.invalid">
        <!-- Cheating, since there is only one way the product name field could be invalid -->
        Product name is required
      </div>
      <div>
        <input type="number"
               ngModel
               name="price"
               placeholder="Product Price"
               #productPrice="ngModel"
               required>
      </div>
      <div class="error" *ngIf="(productPrice.dirty || message) && productPrice.invalid">
        <!-- Cheating, since there is only one way the product name field could be invalid -->
        Product price is required
      </div>
      <div>
        <input type="text"
                ngModel
                name="imageUrl"
                placeholder="Product Image URL"
                #productImageUrl="ngModel"
                pattern="^http(s?)\://[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,3}(/\S*)?$"
                required>
      </div>
      <div class="error" *ngIf="(productImageUrl.dirty || message) && productImageUrl.invalid">
        <div *ngIf="productImageUrl.errors.required">
          Product Image URL is required
        </div>
        <div *ngIf="productImageUrl.errors.pattern">
          Product Image URL does not seem to be a valid URL
        </div>
      </div>
      <div>
        <input type="checkbox"
                ngModel
                name="isOnSale">
                On Sale
      </div>
    </div>
    <button type="submit">Create</button>
  </form>
</div>